//font 1em == 16px
$font-size: 1m;
$font-family: 'Microsoft Yahei';

//color
$black: #111;
$pink: #e02177;
$white: #fff;
$hoverBg: rgba(255, 255, 255, 0.8);


//
$line-height: 1.6;

//selection
$selectionBg: $pink;
$selectionColor: $white;